body {
    background-color: #EBECE4;
}
#menu {
    margin: 0;
    padding: 0;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    background-color: #484545; 
}
#menu li {
    display:inline;
    line-height: 30px;
    padding: 0 10px;
}
#menu a {
    color: #7BC142;
    text-decoration: none;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
h1 {
    line-height: 90px;
    height: 90px;
    text-align: center;
    font-size: 80px;
    color: #EBECE4;
    font-family: 'Dancing Script', cursive;
}
#barremenu {
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    margin-left: 260px;
    padding: 0;
    text-align: center;
}
#barremenu li {
    display:inline;
    line-height: 50px;
    padding: 0 10px;
}
#barremenu a {
    color: #7BC142;
    text-decoration: none;
}

#menu a:hover {
    color: #FFFFFF;
    text-decoration: none;
}
#barremenu a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

#Nouveautes {
    margin-bottom: 70px;
}
#nouveautes {
    font-size: 30px;
    color: #EBECE4;
    text-align: left;
    background-color: #EBECE4;
    margin-bottom: 0;
    padding-bottom: 30px;
}
#ligneNouv {
    background-color: #7BC142;
}
#pNouv {
    margin-left: 180px;
}
#Services {
    margin-bottom: 50px;
}
#services {
    font-size: 30px;
    color: #EBECE4;
    text-align: left;
    background-color: #EBECE4;
    margin-top: 0;
    padding-bottom: 30px;
}
#ligneServ {
    background-color: #7BC142;
}
#pServ {
    margin-left: 180px;
}
#Mineraux {
    margin-bottom: 50px;
}
#mineraux {
    font-size: 30px;
    color: #EBECE4;
    text-align: left;
    background-color: #EBECE4;
    padding-bottom: 30px;
}
#ligneMin {
    background-color: #7BC142;
}
#pMin {
    margin-left: 180px;
}
#Vegetaux {
    margin-bottom: 50px;
}
#vegetaux {
    font-size: 30px;
    color: #EBECE4;
    text-align: left;
    background-color: #EBECE4;
    padding-bottom: 30px;
}
#ligneVeg {
    background-color: #7BC142;
}
#pVeg {
    margin-left: 180px;
}
#Accessoires {
    margin-bottom: 50px;
}
#accessoires {
    font-size: 30px;
    color: #EBECE4;
    text-align: left;
    background-color: #EBECE4;
    padding-bottom: 30px;
}
#ligneAcc {
    background-color: #7BC142;
}
#pAcc {
    margin-left: 180px;
}
.navbar {
    margin-top: 20px;
        position: relative;
            display: block;
    top: 0;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    position: -ms-sticky;
    position: sticky;
    background-color: rgba(72, 69, 69, 0.8);
}
#ico1-logo:hover path {
    fill: red;
}

#twitter-logo path {
    fill: #7BC142;/*vert clair */
    height: 50px;

}
#twitter-logo:hover path {
    fill: #EBECE4;/*gris clair */
}

#facebook-logo path {
    fill: #7BC142;/*vert clair */
    height: 50px;
    
}
#facebook-logo:hover path {
    fill: #EBECE4;/*gris clair */
}
footer {
    background-color: #484545;
    font-size: 20px;
}
#foot {
    margin-top: -35px;
}
#foot a {
    text-decoration: none;
    color: #7BC142;
}
#foot a:hover  {
    color: #EBECE4;
}
#fondtop {
    margin-top: 40px;
    height: 300px;
    background-image: url("../images/magasin.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;    
    filter: grayscale(1);
    -moz-filter: grayscale(1);
    position: relative;
    z-index: 2;
}
#textbienv {
    z-index: 4;
    margin-top: -200px;
    position: relative;
}
.divbarre {
    position: relative;
}
#slideshow {
    position: relative;
    width: 420px;
    height: 310px;
    padding: 0px;
    margin: 0 auto 2em;
    border: 1px solid #ddd;
    background: #FFF;
    /* CSS3 effects */
    background: linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 3px rgba(0,0,0, 0.2);
    display: inline-block;
}
 
/* avanced box-shadow
 * tutorial @
 * http://www.creativejuiz.fr/blog/les-tutoriels/ombre-avancees-avec-css3-et-box-shadow 
*/
#slideshow:before,
#slideshow:after {
    position: absolute;
    bottom:16px;
    z-index: -10;
    width: 50%;
    height: 20px;
    content: " ";
    background: rgba(0,0,0,0.1);
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0,0,0, 0.4), 0 20px 10px rgba(0,0,0, 0.7);
}
#slideshow:before {
    left:0;
    transform: rotate(-4deg);
}
#slideshow:after {
    right:0;
    transform: rotate(4deg);
}
/* gestion des dimensions et débordement du conteneur */
#slideshow .container {
    position:relative;
    width: 420px;
    height: 310px;
    overflow: hidden;
}
    
/* on prévoit un petit espace gris pour la timeline */
#slideshow .container:after {
    position:absolute;
    bottom: 0; left:0;
    content: " ";
    width: 100%;
    height: 1px;
    background: #999;
}
/* 
   le conteneur des slides
   en largeur il fait 100% x le nombre de slides
*/
#slideshow .slider {
    position: absolute;
    left:0; top:0;
    width: 400%;
    height: 310px;
}

/* annulation des marges sur figure */
#slideshow figure {
    position:relative;
    display:inline-block;
    padding:0; margin:0;
}
/* petit effet de vignette sur les images */
#slideshow figure:after {
    position: absolute;
    display:block;
    content: " ";
    top:0; left:0;
    width: 100%; height: 100%;
    box-shadow: 0 0 65px rgba(0,0,0, 0.5) inset;
}
/* styles de nos légendes */
#slideshow figcaption {
    position:absolute;
    left:0; right:0; bottom: 5px;
    padding: 0;
    margin:0;
    border-top: 1px solid rgb(225,225,225);
    text-align:center;
    letter-spacing: 0.05em;
    word-spacing: 0.05em;
    font-family: Georgia, Times, serif;
    background: #fff;
    background: rgba(255,255,255,0.7);
    color: #555;
    text-shadow: -1px -1px 0 rgba(255,255,255,0.3);
}
@keyframes slider {
    0%, 20%, 100%   { left: 0 }
    25%, 45%        { left: -100% }
    50%, 70%        { left: -200% }
    75%, 95%        { left: -300% }
}
@-webkit-keyframes slider {
    0%, 20%, 100%   { left: 0 }
    25%, 45%        { left: -100% }
    50%, 70%        { left: -200% }
    75%, 95%        { left: -300% }
}
@-moz-keyframes slider {
    0%, 20%, 100%   { left: 0 }
    25%, 45%        { left: -100% }
    50%, 70%        { left: -200% }
    75%, 95%        { left: -300% }
}
/* complétez le sélecteur : */
#slideshow .slider {
    /* ... avec la propriété animation */
    animation: slider 32s infinite;
}
@keyframes figcaptionner {
    0%, 25%, 50%, 75%, 100%                     { bottom: -55px;    }
    5%, 20%, 30%, 45%, 55%, 70%, 80%, 95%       { bottom: 5px;      }
}
/* ajouter à l'élément : */
#slideshow figcaption {
    /* ... la propriété animation */
    animation: figcaptionner 32s infinite;
}
.play_commands {
    /* positionnement en haut à droite */ 
    position: absolute;
    top: 25px; right: 25px;
    z-index: 10;
    /* dimensionnement des icônes */
    width: 22px;
    height: 22px;
    text-indent: -9999px;
    border:0 none;
    /* placez l'opacité à 1 si vous souhaitez voir les commandes */
    opacity: 0;
    /* préparation de transition sur opacicty et right */
    transition: opacity 1s, right 1s;
}
/* on décale play légèrement sur la gauche */
.play { right: 55px; cursor: default; }
 
/* création de l'icône pause avec 2 pseudos éléments */
.pause:after,
.pause:before {
    position: absolute;
    display: block;
    content: " ";
    top:0;
    width:38%;
    height: 22px;
    background: #fff;
    background: rgba(255,255,255,0.5);
}
.pause:after { right:0; }
.pause:before { left:0; }
 
/* création de l'icône play avec des bordures */
.play {
    width: 1px; 
    height: 1px; 
    /* les transparentes forment la flèche */
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid #fff; 
    border-left: 20px solid rgba(255,255,255,0.5); 
    /* renseignez 1 pour voir l'icône de suite */
    opacity: 0;
}
 
/* apparition du bouton pause au survole */
/* apparition des boutons au focus */
#slideshow:hover .pause,
.play_commands:focus {
    opacity: 1;
    outline: none;
}
/* stopper les animation */
.sl_command:target ~ #slideshow .slider,
.sl_command:target ~ #slideshow figcaption,
.sl_command:target ~ #slideshow #timeline,
.sl_command:target ~ #slideshow .dots_commands li:first-child a:after {
    animation-play-state: paused;
}
 
/* redémarrer les animations */
#sl_play:target ~ #slideshow .slider,
#sl_play:target ~ #slideshow figcaption,
#sl_play:target ~ #slideshow #timeline,
#sl_play:target ~ #slideshow .dots_commands li:first-child a:after {
    animation-play-state: running;
}
 
/* switch entre les boutons */
.sl_command:target ~ #slideshow .pause      { opacity:0; }
#sl_play:target ~ #slideshow:hover .pause,
#sl_play:target ~ #slideshow .pause:focus   { opacity:1; }
.sl_command:target ~ #slideshow .play       { opacity:1; right: 25px; cursor: pointer; }
#sl_play:target ~ #slideshow .play          { opacity:0; right: 55px; cursor: default; }

#cat {
    display: inline-block;
    text-decoration: none;
    text-align: right;
}
#cat a {
    color: #4AAD1F;
    font-size: 22px;
}
.presentation {
    margin-top: 100px;
    font-size: 20px;
    text-align: center;
}
.img-circle {
    margin-bottom: 10px;
}
#presacc {
    color: #EBECE4;
}


.nouveautes-is {/*NICOLAS*/
    font-size: 20px;
    text-align: center;
}

#nouveautes-is2 {
    text-decoration: none;
}
#nouveautes-is2 a {
    color: #4AAD1F;
    font-size: 22px;
}

.ligneAcc1 { /*NICOLAS*/
	margin-left:180px;
}

.ligneVeg1 { /*NICOLAS*/
	margin-left:180px;
}

.ligneMin1 { /*NICOLAS*/
	margin-left:180px;
}

.ligneServ1 { /*NICOLAS*/
	margin-left:180px;
}

.ligneNouv1 { /*NICOLAS*/
	margin-left:180px;
}

#copy {
    margin-top: 30px;
    font-size: 18px;
    color: #7BC142;
}
.mention {
    color: #FFFFFF;
}